form {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 10px;
    text-align: left;
}

.radio-buttons {
    display: flex;
}

.user-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 0.2);
}

input[type="submit"] {
    width: 100px;
    height: 30px;
}