table,
th,
td {
  border: 1px solid black;
  background-color: white;
  border-collapse: collapse;
}

table {
  box-shadow: 0 10px 20px rgb(0 0 0 / 0.2);
}

th {
  background-color: goldenrod;
  padding: 5px;
}

h2 {
  margin: 0px;
}

button {
  width: 5em;
  height: 2em;
}

.action-buttons {
  display: inline-block;
}
